<h1>  ¿<strong>Eliminar</strong> a {{data.superhero}}?</h1>
<br>

    <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="40px">

        <button  fxFlex="100" fxLayout.xs="column" mat-raised-button color="warn" (click)="borrar()">
            <mat-icon>delete</mat-icon>
            Si, Borralo 
        </button>
        <button fxFlex="100" fxLayout.xs="column" mat-raised-button color="primary" (click)="cancelar()">
            <mat-icon>clear</mat-icon>
            Cancelar
        </button>
    
     </div>